<ion-content>
  <div class="wrap_of_main_structure wrap_height">
    <div class="right_content purch_content">
      <div class="purchase_hist">
        <h2>{{ "buyHistory" | translate }}</h2>

        <div class="inn_purchase">
          <div class="head_purch">
            <div class="purch_desc">
              <p>{{ "historyDesc" | translate }}</p>
            </div>

            <div class="purch_date">
              <p>{{ 'date' | translate }}</p>
            </div>

            <div class="purch_cost">
              <p>{{ 'cost' | translate }}</p>
            </div>
          </div>

          <div
            *ngFor="let coupon of coupons"
            class="elem_purch">
            <div class="purch_desc">
              <p>{{ coupon.packname }}</p>
            </div>

            <div class="purch_date">
              <p>{{ coupon.created_at }}</p>
            </div>

            <div class="purch_cost">
              <p>{{ coupon.packprice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
